# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
*.dart.js
*.js.deps
*.js.map

*.txt
# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Android
**/android/key.properties
**/android/**/*.jks
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/local.properties

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec

# Generated
*.g.dart
*.freezed.dart
.flutter-plugins
.flutter-plugins-dependencies
